<%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "text-left text-xl font-bold" %>
    <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <div style="flex ">
    <%= form.label :description, class: "text-left text-xl font-bold" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :completed, class: "text-left text-xl font-bold" %>
    <%= form.checkbox :completed %>
  </div>

  <div>
    <%= form.label :priority, class: "text-left text-xl font-bold" %>
    <%= form.number_field :priority %>
  </div>

  <div>
    <%= form.label :project_id, class: "text-left text-xl font-bold" %>
    <%= form.collection_select :project_id, Project.all, :id, :name, prompt: "Select a project" %>
  </div>

  <div>
    <%= form.submit "Submit", class: "inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 mb-6"  %>
  </div>
<% end %>
